
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf3f3f0;
}
.profile-card{
    display: flex;
    flex-direction: column;  
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}
.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
    height: 36%;
    width: 100%;
    background-color: blue;

}

.image{
    position: relative;
    height: 150px;
    width: 150px; 
    border-radius: 50%;
    background-color: blue;
    padding: 3px;
    margin-bottom: 20px;
}
.image .profile-image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    border: 3px solid #fff;
   
    
}
.profile-card .text-data{
  display: flex;
  flex-direction: column;  
  align-items: center;

}
.text-data .name{
    font-size: 22px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 5px;
}
.text-data .job{
    font-size: 16px;
    font-weight: 400;
    color: #888;
    margin-bottom: 15px;
}

.profile-card .media-button{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.profile-card .link{
    background-color: rgb(95, 95, 219);
    text-decoration:  none;
    color: #fff;
    font-size: 18px;
    margin: 0 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card .buttons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons .button{
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(95, 95, 219);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons .button:hover{
    background-color: rgb(75, 75, 199);
}
.profile-card .analytics{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.analytics .data{
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 0 10px;
}
.data i{
    font-size: 20px;
    color: rgb(95, 95, 219);
    margin-bottom: 5px;
}
.data:last-child{
    border-right: none;
}